body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

.header-wrapper {
    height: 140px;
    background-color: #3b5633;
    color: #E8EFEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}

.left-column {
    display: flex;
    align-items: center;
}

.header-styles {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20em;
}

.center-column {
    width: 800px;
}

.logo {
    display: flex;
    justify-content: start;
    align-content: end;
}

.logo img {
    width: 60%;
    height: 60%;
}

.link-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-header {}

.nav-link {
    width: 180px;
    text-align: space-evenly;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #E8EFEA;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link:hover {
    color: #bcca99;
    letter-spacing: 2px;
}

.main-section {
    background-image: url(assets/calla_lily_brooch2.jpg);
    padding: 180px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: column;
}

.top-heading {
    padding: 1px 20px;
    background-color: #414742;
    color: #b0c7aa;
    width: 180px;
    border-radius: 25px;
}

.bottom-heading {
    background-color: #b0c7aa;
    color: #414742;
    padding: 1px 20px;
    width: 107px;
    border-radius: 25px;
}

.about-section {
    height: 300px;
    background-color: #6b9b5d;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.columns-wrapper {
    display: flex;
    justify-content: space-between;
}

.column {
    padding: 20px;
    margin: 42px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.column:hover {
    border-bottom: 5px solid #ffffff;
}

.column-title {
    font-size: 1.5em;
    font-weight: 900;
    height: 50px;
    transition: 1s;
}

.column-title:hover {
    letter-spacing: 1px;
}

.column-content {
    letter-spacing: 2px;
}