body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

.header-wrapper {
    height: 140px;
    background-color: #3b5633;
    color: #E8EFEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.left-column {
    display: flex;
    align-items: center;
}

.right-column {
    width: 1300px;
}

.logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo img {
    width: 60%;
    height: 60%;
    border-radius: 0px;
}

.link-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.page-header {
    width: 180px;
    text-align: space-evenly;
    color: #b0c7aa;
    letter-spacing: 1.5px;
}

.nav-link {
    width: 180px;
    text-align: space-evenly;
    color: #b0c7aa;
    text-decoration: none;
    letter-spacing: 1.25px;
    transition: 0.5s;
}

.nav-link:hover {
    color: #bcca99;
    letter-spacing: 2.5px;
}

.main-section {
    background-image: url(assets/calla_lily_brooch2.jpg);
    padding: 180px;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-direction: column;
}

.top-heading {
    padding: 1px 20px;
    background-color: #414742;
    color: #b0c7aa;
    width: 180px;
    border-radius: 25px;
    text-decoration: none;
}

.bottom-heading {
    background-color: #b0c7aa;
    color: #414742;
    padding: 1px 20px;
    width: 107px;
    border-radius: 25px;
    text-decoration: none;
}

.about-section {
    background-color: #6b9b5d;
    text-decoration: none;
    color: #3b5633;
    text-align: left;
    font-family: 'Ubuntu Condensed', sans-serif;
    box-shadow: inset 0px -26px 79px -8px rgba(0, 0, 0, 0.58);
}

.header {
    font-size: 2.25em;
    font-weight: 900;
    padding: 20px 400px 40px;
    text-decoration: underline;
    text-decoration-color: #b0c7aa;
}

.columns-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column {
    margin: 10px 40px 40px;
    text-align: center;
    border-bottom: 5px solid transparent;
    border-radius: 10px;
    transition: 1s;
}

.column:hover {
    border-bottom: 5px solid #bcca99;
}

.column-title {
    text-decoration: none;
    color: #b0c7aa;
    font-size: 1.25em;
    font-weight: 900;
    height: 40px;
    transition: 1s;
}

.column-title:hover {
    color: #bcca99;
    letter-spacing: 1px;
}

.column-content {
    text-decoration: none;
    letter-spacing: 1px;
    color: #414742;
    font-weight: 600;
}

img {
    max-width: 500px;
    height: auto;
    border-radius: 15px;
}

.columns-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #b0c7aa;
}

.columns-container2 {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #edfaf0;
}

.image-column {
    max-width: 500px;
    margin: 40px;
    text-align: center;
    position: relative;
    z-index: 0;
}

.image-column2 {
    position: relative;
    text-align: center;
}

.image-column2 .first-image {
    max-width: 500px;
    margin: 40px;
}

.image-column2 .second-image {
    max-width: 100%;
    margin: 40px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}


.image-title {
    font-weight: bold;
    margin-top: 10px;
    color: #414742;
}

.image-column2:hover .second-image {
    display: block;
}